body {
    background-image: url('img/bg.jpg');
    background-attachment: fixed;
    color: #000305;
    font-size: 87.5%;
    font-family: Arial, 'Lucida Sans Unicode';
    text-align: left;
    background-color: sienna;
}

.wrapper{
        background-color: black;
    }

.logo {
   
    color: #FFFFFF;
    margin-left: 0px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    letter-spacing: -2px;
    width: 100%;
}
.punchline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #C69C6D;
    padding-left: 20px;
    padding-top: -5px;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: yellow;
   
}
a:hover, a:active {
    background-color: yellow;
    color: #FFFFFF;
}
.body {
    margin: 0 auto;
    width: 70%;
    clear: both;
}
.mainHeader img {
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 0;
}
.mainHeader nav {
    background-color: #000305;
    height: 30px;
    
}
.mainHeader nav ul {
    list-style: none;
    margin: 0 auto;
}
.mainHeader nav ul li {
    float: left;
    display: inline;
}
.mainHeader nav a:link, .mainHeader nav a:visited {
    color: #FFF;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;   
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a.visited{
    background-color: yellow;
    text-shadow: none;
    color: black;
}
.mainHeader nav ul li a{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.mainContent {
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-color: yellow;
}
.text{
    background-color: yellow;
    color: black;
    height: 4%;
    background-image: url()
}
.content{
    width: 50%;
    float: left;
}
.topcontent {
    background-color: #000305;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    /*margin-top: 2%; */
}
.bottomContent {
    background-color: #000305;
    border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;  
   padding: 3% 5%;
   margin-top: 2%;
}
.top-sidebar {
    width: 50%;
    float: left;
    background-color: #000305;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;  
    margin: 0 0 1% 1%;
    padding: 2% 3%;
}
.post-info {
    font-style: italic;
    color: #999;
    font-size: 90%;
}
.middle-sidebar {
    width: %;
    float: left;
    background-color: #000305;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    margin-left: 1%;
    margin-bottom: 1%;
    padding: 2% 3%; 
}
.bottom-sidebar {
    width: 200%;
    float: left;
    background-color: #000305;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    margin-left: 2%;
    margin-bottom: 1%;
    padding: 1.6% 3%;
    padding-right:5px;;
}
.mainFooter {
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;    
    background-color: dimgray;
    margin-top: 0;
    margin-bottom: 5px;
}
.mainFooter p{
    width: 100%;
    height: 100px;
    margin: 10px auto;
    color: #000305;
    text-align: center;
}

/*css for the about page*/

.aboutcontent{
    width: 98%;
    float: left;
    background-color: #000305;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
   padding: 1% 1%;
    margin-bottom: 1%;
}